@page "{id:int}"
@model WebLab1_Levchenko.Areas.Admin.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cats</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cats.CatsName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cats.CatsName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cats.CatsColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cats.CatsColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cats.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cats.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cats.CatsWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cats.CatsWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cats.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cats.Group.CatsGroupID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cats.CatsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
