@page
@model WebLab1_Levchenko.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="mt-2">
    <a asp-page="Create" class="btn btn-outline-info">
        <span class="fa fa-plus-circle"> Добавить</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Cats[0].CatsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cats[0].CatsColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cats[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cats[0].CatsWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cats[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cats) {
        <tr>
            <td>
                <img src="~/Images/@item.Image" alt="NoImage" width="50" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CatsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatsColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatsWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.CatsGroupID)
            </td>
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.CatsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CatsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CatsID">Delete</a>
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CatsID"
                   class="btn btn-outline-info">
                    <span class="fas fa-edit"></span>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.CatsID"
                   class="btn btn-outline-danger">
                    <span class="fas fa-trash-alt"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
